.color-CF2F2F {
	background-color: #CF2F2F;
}

.color-CF2FB2 {
	background-color: #CF2FB2;
}

.color-732FCF {
	background-color: #732FCF;
}

.color-2FCFCA {
	background-color: #2FCFCA;
}

.color-36CF2F {
	background-color: #36CF2F;
}

.color-CFC02F {
	background-color: #CFC02F;
}

.color-F97D00 {
	background-color: #F97D00;
}

.color-6F4535{
	background-color: #6F4535;
}

.color-787878{
	background-color: #787878;
}

.color-202020 {
	background-color: #202020;
}

.color-009BDF {
	background-color: #009BDF;
}

.color-2F40CF {
	background-color: #2F40CF;
}
